files:
  "/etc/nginx/conf.d/00_custom.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      server {
        listen 80;
        server_name localhost;

        location / {
          proxy_pass http://current-clinet-1:3000;
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
        }
      }
